include Dockerfile docker-compose.yml requirements.txt .dockerignore
recursive-include docs *.md
recursive-include labs *.md *.yaml *.xml *.json *.csv
recursive-include tests *.py
recursive-include scripts *.sh
